SELECT name FROM sqlite_master WHERE type='table';

-- Query to check which patients have consultations
SELECT 
    c.patient_id, 
    p.name as patient_name,
    COUNT(c.id) as consultation_count
FROM 
    consultations c
JOIN 
    patients p ON c.patient_id = p.id
GROUP BY 
    c.patient_id, p.name
ORDER BY 
    consultation_count DESC;
